<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
</head>
<body>
    <h1>Create New Chat..</h1>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Who are you?">
        <br> <br>
        <textarea name="msg">Write your msg here</textarea>
        <br> <br>
        <input type="text" name="to" placeholder="Add receiver">
        <br> <br>
        <button>Create Chat</button>
    </form>
</body>
</html>